<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxV9D-uaq1vOL4HLAOzsCkcD9YZyPGarU</string>
	<key>GCM_SENDER_ID</key>
	<string>130623829878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moyobaplogin</string>
	<key>PROJECT_ID</key>
	<string>login-moyobap-app</string>
	<key>STORAGE_BUCKET</key>
	<string>login-moyobap-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130623829878:ios:f23aa289533ce6abb8ec57</string>
</dict>
</plist>